<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <!--
        Define three services originating from 3 different services.
    -->
    <service id="helloBlueprint1" interface="se.jguru.nazgul.core.test.bundles.hello.api.Hello">
        <bean class="se.jguru.nazgul.core.test.bundles.hello.impl.blueprint.HelloBlueprintServiceImpl"/>
    </service>

    <service id="helloBlueprint2" interface="se.jguru.nazgul.core.test.bundles.hello.api.Hello">
        <bean class="se.jguru.nazgul.core.test.bundles.hello.impl.blueprint.AlternateBlueprintHelloImplementation">
            <argument value="Lennart" />
        </bean>
    </service>

    <service id="helloBlueprint3" interface="se.jguru.nazgul.core.test.bundles.hello.api.Hello">
        <bean class="se.jguru.nazgul.core.test.bundles.hello.impl.blueprint.AlternateBlueprintHelloImplementation">
            <argument value="Malin" />
        </bean>
    </service>

    <!--
        Add a blueprint-style service listener.
    -->
    <reference id="HelloServiceListener" interface="se.jguru.nazgul.core.test.bundles.hello.api.Hello">
        <reference-listener
                bind-method="onServiceAppeared"
                unbind-method="onServiceDisappeared">
            <bean class="se.jguru.nazgul.core.test.bundles.hello.impl.blueprint.eventecho.HelloServiceListener"/>
        </reference-listener>
    </reference>

</blueprint>